/* 合約前台版型（僅 contract-public.php 用） */

#content .ast-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}
@media (max-width: 580px) {
  #content .ast-container {
    padding: 0 !important;
  }
}
.woc-contract-wrap {
    width: 1000px;
    max-width: 100%;
    margin:40px auto;
    padding:29px;
    background:#fff;
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    font-size:16px;
  }
  @media (max-width: 1000px) {
    .woc-contract-wrap {
      margin: 0;
    }
  }
  @media (max-width: 580px) {
    .woc-contract-wrap {
      padding:25px;
    }
  }
  

.woc-contract-wrap * {
  font-family: 'PingFang TC','Helvetica Neue','Microsoft YaHei New','STHeiti Light',sans-serif;
  line-height: 2;
  color: #000;
  
}

.woc-contract-content :where(ul, ol), .woc-contract-content p { 
  margin: 0;
 }

.woc-contract-signed {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
}
.woc-contract-signed p {
  margin-bottom: 5px;
  font-weight: 500;
}
.woc-button-warp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.woc-button-warp button {
  border-radius: 0;
  padding: 20px 30px;
  color: #fff;
}
.woc-button-warp button:hover {
  opacity: 0.7;
}
#woc-clear-signature {
  background-color: gray;
}
#woc-submit-signature, #woc-print {
  background-color: #0274be;
}

/* 合約內容 */
.signUsingTitle {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	position: relative;
	float: left;
    width: 100%;
    margin-bottom: 10px;
}
.signUsingTitle span {
	color: #fff;
    background: #5a5a5a;
    border-radius: 50px;
    padding: 2px 15px;
    position: relative;
    z-index: 1;
}
.signUsingTitle:after {
	content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* border-bottom: 1px solid #e1e1e1; */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.signUsing {
	font-size: 14px;
    text-align: center;
    line-height: 19px;
    margin-bottom: 10px;
	color: #5c5c5c;
	float: left;
    width: 100%;
}
.signedImg {width: 100%;}

.c_t_center {
    text-align: center;
}
.c_bg_gral {
  background-color: #efefef !important;
}
.contract-container {
  font-size: 16px;
}
.c_title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 24px;
}
.c_cont1 {
  font-size: 16px;
}
.c_cont2 {
  font-size: 16px;
  list-style: cjk-ideographic;
  padding-left: 34px;
}
.c_cont3 {
  font-size: 16px;
  list-style: none;
  padding: 3%;
}
.c_cont4 {
  padding-left: 21px;
}
.c_into {
  list-style-type: disc;
  list-style: none;
  font-size: 16px;
  width: 50%;
  float: left;
  margin: 30px 0;
  padding: 0 20px;
}
.c_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  position: relative;
  min-height: 80px;
}

.c_date::before {
  content: '';
  width: 80px !important;
}
.c_date-text {
  line-height: 1;
}
.seal-img {
  width: 80px !important;

}


.c_cont_chack{
  display: block;
  line-height: 1.6em;
}
.c_cont_b-line{
  text-decoration: underline;
}
.fz-s {
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  line-height: 2rem;
}
.row li {
    width: 100%;
    margin-bottom: 2rem;
}
.row .col-33 {
    width: 33%;
}
@media (max-width: 767px) {
  .c_into,.row .col-33 {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .c_into:last-of-type, .row .col-33:last-of-type {
    margin-bottom: 20px;
  }
  .row li {
        width: 100%;
        margin-bottom: 1rem;
    }
}



/* 簽名區 canvas */
canvas#woc-signature-pad {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border:1px solid #ccc;
    background:#fafafa;
}
.woc-signature-image-box {
    display:block;
    border:0;
    padding:0;
    margin-bottom:15px;
}

.woc-signature-image {
    display:block;
    width:100%;
    height:auto;
}

/* 版權宣告 */
.woc-contract-copyright {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    padding: 16px;
}


/* 隱藏 header, footer */
.single-woc_contract #page > header, .single-woc_contract #page > footer {
    display: none;
}




@media print {

  /* 給列表機看的 */
  @page { size: A4; margin: 10mm; }

  /* 只做顯示/隱藏 */
  body * { visibility: hidden !important; }

  .woc-contract-wrap-print,
  .woc-contract-wrap-print * { visibility: visible !important; }

  /* no-print 要用 !important，避免被你自己的 visibility 放行後又顯示 */
  .woc-contract-wrap-print .no-print { display: none !important; }

  /* 不要用 absolute：會影響分頁、內容高度計算，Firefox/Chrome 分歧更大 */
  .woc-contract-wrap-print {
    position: static !important;
    width: 100% !important;
    padding: 0;
    margin: 0;
    
  }
  .woc-contract-wrap-print * {
    line-height: 1.6 !important;
    font-size: 10pt;
  }
  /* .woc-contract-wrap-print .c_into{
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }
  .woc-contract-wrap-print .c_into{
    float: none !important;
    width: 100% !important;
  } */
  .c_title {
    font-size: 16pt;
  }
  .c_into {
    width: 50%;
  }

  /* 重置頁面外圍即可 */
  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* 常見干擾源（Astra/WordPress） */
  #wpadminbar,
  header, footer, .woc-contract-copyright {
    display: none !important;
  }

  /* 簽名+簽名資訊 */
  .woc-contract-signed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .woc-signature-image-box, .woc-signature-info {
    width: 50%;
  }
  .woc-signature-image-box img {
    width: 50mm;
    max-width: 100%;
  }
  .woc-signature-info {
    padding-left: 20mm;
  }

  /* 重要：避免簽名區、被切半 */
  img, .woc-contract-wrap-print .c_into { 
    break-inside: avoid !important;
    page-break-inside: avoid !important;
   }

   /* 螢幕看不到@page 所以加入模擬列印樣式，調整列印樣式時再打開 */
   /* .woc-contract-wrap-print {    
      padding: 10mm; 
    } */
}

